<%- include("partials/header"); -%>

<h2 class="success"><%= goodname %></h2>
<h6 class="details"> Your comment is appreciated and we will take care of what you have told us and your suggestions
are always welcome. You can also become part of us Registering with  us.</h6>

<a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Go Back To Home Page</a>
<%- include("partials/footer"); -%>