<%- include("partials/header"); -%>

<h1 class="contact">Contact Us</h1>

<h5 class="con">Our Whatsapp details</h5>
<a class="c" href="https://play.google.com/store/apps/details?id=com.whatsapp&hl=te">+91-7049776318</a>
<h5 class="con">Our Telephone details</h5>
<a  class="c" href="https://play.google.com/store/apps/details?id=com.google.android.dialer&hl=en_US">3219-2536781</a>
<h5 class="con">Our Email Address</h5>
<a class="c" href="https://play.google.com/store/apps/details?id=com.google.android.gm&hl=en_US">child23@gmail.com</a>
<h5 class="con">Our Address</h5>
<a class="c" href="https://www.google.com/maps/@21.2330309,81.6582986,15z">C/43 Baneerji Nagar,Old Town, Kolkata,W.B.</a>
<h5 class="con">Our Instagram Page</h5>
<a class="c" href="https://www.instagram.com/">_childrights12_</a>
<h5 class="con">Our Facebook Page</h5>
<a class="c" href="https://www.facebook.com/">Child Rights org</a>
<h5 class="con">Our Twitter Id</h5>
<a  class="c" href="https://twitter.com/">childrightsorg6</a>
<h5 class="con">You can also check our youtube channel</h5>
<a class="c" href="https://www.youtube.com/">Child Rights Organisation</a>

<img class="mother" src="images/mother.jpg">
<img class="profit" src="images/profit.jpg">



<%- include("partials/footer"); -%>