<%- include("partials/header"); -%>
<h2 class="success"><%= userName %></h1>
<h6 class="detail"> Your donation will definetly be for betterment of poor children. And we also hope that
you will encourage your friends and your relatives to donate for our organisation</h6>
<a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Go Back To Home Page</a>
<%- include("partials/footer"); -%>