
</div>
<footer>
<h5>This organisation is serving the country from 1974</h5>
<h6>All copy rights are reserved © 2020</h6>
<p>Join us:by visiting our contact section</p>
<p>to know more about ourselves visit our about section</p>
<p>to see our works visit image gallery</p>
<p>If you want to become volunteer of our organisation then register with us</p>

</footer>
<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
 
  </body>
 </html>