<!DOCTYPE html>
<html language="en" dir="ltr">
<head> 

<meta charset="utf-8">
<title>Child Rights</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Ubuntu:ital,wght@1,700&display=swap" rel="stylesheet">
 
 
 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
 
<link rel="stylesheet" href="CSS/style.css">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light bg-light">

<nav class="navbar navbar-light bg-light">
<p class="navbar-brand">Child Rights</p>
</nav>
</nav>

<ul class= "">

<li class="" id="home"><a class="" href="/">Home</a></li>
<li class="" id="about"><a class="" href="/about">About us</a></li>
<li class="" id="image"><a class="" href="/image">Image Gallery</a></li>
<li class="" id="registration"><a class="" href="/registration">Registration</a></li>
<li class="" id="contact"><a class="" href="/contact">Contact us</a></li>
</ul>
</div>



<body>
<div class="container">
