<%- include("partials/header"); -%>

<h4 class="gallery">Our Students</h4>
<div class="student">
<img src="images/img1.jpg">
<img src="images/img-2.jpg">
<img src="images/img3.jpg">
<img src="images/img4.jpg">
<img src="images/img5.jpg">
<img src="images/img6.jpg">
<img src="images/img7.jpg">
<img src="images/img8.jpg">
</div>

<h4 class="gallery">Our Works</h4>
<div class="student">
<img src="images/img9.jpg">
<img src="images/img10.jpg">
<img src="images/img11.jpg">
<img src="images/img12.jpg">
<img src="images/img13.jpg">
</div>

<h4 class="gallery">Our Achievements</h4>
<div class="student">
<img src="images/img14.jpg">
<img src="images/img15.jpg">
<img src="images/img16.jpg">
<img src="images/img17.jpg">
<img src="images/img18.jpg">
</div>

<%- include("partials/footer"); -%>